[Unit]
Description=Setup portworx cache device
Before=portworx.service
PartOf=systemd-journald.service
After=systemd-journald.service
Requires=systemd-journald.service

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/curl -fsL https://raw.githubusercontent.com/satchpx/dmcache/master/pxcache-setup | bash -s /dev/nvme0n1 /dev/xvdb"
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
